button {
    border-color: yellow;
    color: yellow;
    background-color: black;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 8px;
}
